@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: rgb(253, 240, 223);
  overflow-x: hidden;
}

p {
  font-weight: 100;
  line-height: 1.5;
  font-style: normal;
}

h1, h2, h3 {
  font-family: "Georgia", serif;
}

h2 {
  text-decoration: underline;
}

img {
  order: 2;
  width: 200px;
  border-radius: 20px;
  display: block;
  max-width: 100%;
}

.grid-container .card {
  background-color: #000000;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px #f7caca;
  transition: transform 0.3s ease;
}

.info .banner {
  background-image: url("../images/banner.jpg");
  height: 200px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  text-shadow: -1px 3px 11px rgba(0, 0, 0, 0.78);
  color: antiquewhite;
  text-align: center;
  opacity: 0;
  animation: fadeInBanner 2s forwards;
}

.banner {
  background-image: url("../images/banner.jpg");
  height: 200px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  text-shadow: -1px 3px 11px rgba(0, 0, 0, 0.78);
  color: antiquewhite;
  text-align: center;
  opacity: 0;
  animation: fadeInBanner 2s forwards;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
  background-color: #000000;
}
header img {
  order: 2;
  width: 200px;
  border-radius: 12px;
  margin: 10px;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 12px 30px;
  background-color: #e37171;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 800;
  transition: color, transform 0.3s ease;
}
header nav ul li a:hover {
  color: #f7caca;
  transform: scale(1.1);
}

.contenido-principal .grid-layout {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 20px;
}
.contenido-principal .grid-layout .video {
  margin-top: 20px;
  width: 100%;
  height: auto;
  max-width: 100%;
}
.contenido-principal .grid-layout .Introduccion {
  text-align: center;
  text-decoration: double;
  margin: 20px 0;
}
.contenido-principal .grid-layout .parrafo1 {
  font-size: 20px;
  color: rgb(253, 240, 223);
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}
.contenido-principal .grid-layout .contenedor-grid {
  display: grid;
  grid-template-areas: "titulo titulo titulo" "imagen1 texto1 texto1" "imagen2 texto2 texto2" "texto3 texto3 imagen3";
  grid-template-columns: 25% 40% 25%;
  grid-template-rows: 100px 250px 280px 250px;
  gap: 40px;
  padding: 20px;
}
.contenido-principal .grid-layout .contenedor-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contenido-principal .grid-layout .contenedor-grid .grid-titulo-1 {
  grid-area: titulo;
}
.contenido-principal .grid-layout .contenedor-grid .grid-texto-1 {
  grid-area: texto1;
}
.contenido-principal .grid-layout .contenedor-grid .grid-img-1 {
  grid-area: imagen1;
}
.contenido-principal .grid-layout .contenedor-grid .grid-texto-2 {
  grid-area: texto2;
}
.contenido-principal .grid-layout .contenedor-grid .grid-img-2 {
  grid-area: imagen2;
}
.contenido-principal .grid-layout .contenedor-grid .grid-texto-3 {
  grid-area: texto3;
}
.contenido-principal .grid-layout .contenedor-grid .grid-img-3 {
  grid-area: imagen3;
}

aside {
  background-color: #1c1c1c;
  padding: 20px;
  border: 2px solid #8b5d5d;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  color: antiquewhite;
}
aside h3 {
  font-size: 1.4em;
  color: #e6a1a1;
  margin-bottom: 15px;
  border-bottom: 2px solid #8b5d5d;
  padding-bottom: 5px;
}
aside ol {
  padding-left: 20px;
}
aside ol li {
  margin-bottom: 15px;
}
aside ol li strong {
  color: #f7caca;
}

.footer-columnas {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  padding: 6px;
  background-color: #101010;
  color: #e37171;
  flex-wrap: wrap;
}
.footer-columnas ul {
  list-style: none;
  padding-left: 0;
}
.footer-columnas .columna {
  flex: 1;
  min-width: 100px;
  margin: 10px;
  color: #e37171;
}
.footer-columnas .columna a {
  color: #e37171;
  text-decoration: none;
  list-style: none;
  transition: color 0.3s ease;
}
.footer-columnas .columna a:hover {
  color: #f7caca;
}
.footer-columnas .copyright {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

@keyframes fadeInBanner {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main.trama {
  margin: 20px;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}
main.trama h2 {
  margin-top: 20px;
  font-size: 1.5em;
}
main.trama .parrafo1 {
  font-size: 20px;
  color: rgb(253, 240, 223);
  line-height: 1.6;
  margin: 20px 0;
  text-align: justify;
}
main.trama .subtitul {
  font-size: 1.2em;
  margin: 15px 0 5px;
}
main.trama .viñeta {
  list-style: circle;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 10px;
}
main.trama iframe {
  display: block;
  width: 100%;
  max-width: 560px;
  height: auto;
  margin: 20px auto;
}

.imagenes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}
.imagenes-grid div img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

#carouselExample {
  margin-top: 30px;
}
#carouselExample .carousel-item img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 10px;
}
.grid-container .card {
  width: 100%;
}
.grid-container .card:hover {
  transform: translateY(-5px);
}
.grid-container .card img {
  width: 100%;
  height: auto;
  display: block;
}

.centrar-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 2rem;
  box-sizing: border-box;
}
.centrar-formulario form {
  background: #000000;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #e37171;
}
.centrar-formulario form label {
  font-size: 1em;
}
.centrar-formulario form input, .centrar-formulario form select, .centrar-formulario form textarea, .centrar-formulario form button {
  font-family: "Poppins", sans-serif;
}
.centrar-formulario form button {
  background-color: #e37171;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.centrar-formulario form button:hover {
  background-color: #f7caca;
}

/* === RESPONSIVE === */
@media (max-width: 468px) {
  header {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 20px;
  }
  header img {
    width: 150px;
  }
  nav {
    width: 100%;
  }
  header ul {
    margin-left: 20px;
  }
  .banner {
    background-image: url(../images/banner.jpg);
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
  }
  .contenedor-grid {
    grid-template-areas: "titulo titulo" "texto1 texto1" "imagen1 imagen1" "texto2 texto2" "imagen2 imagen2" "texto3 texto3" "imagen3 imagen3";
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    gap: 10px;
  }
}
.video {
  margin-top: 20px; /* separa el video del título */
}

@media (max-width: 768px) {
  nav {
    width: 100%;
  }
  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .banner {
    background-image: url(../images/banner.jpg);
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
  }
  iframe {
    flex-direction: column;
    width: 100%;
  }
  .contenedor-grid {
    grid-template-areas: "titulo titulo" "texto1 texto1" "imagen1 imagen1" "texto2 texto2" "imagen2 imagen2" "texto3 texto3" "imagen3 imagen3";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    gap: 10px;
  }
  .grid-layout {
    grid-template-columns: 1fr; /* En pantallas pequeñas, solo una columna */
  }
  aside {
    margin-top: 20px; /* Espacio arriba del aside para separarlo del contenido */
  }
  .trama {
    margin: 10px;
    padding: 40px;
    font-family: "Poppins", sans-serif;
  }
  .viñeta {
    margin: 10px;
    padding: 40px;
    font-family: "Poppins", sans-serif;
  }
  .subtitul {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .card img {
    max-height: 250px;
    object-fit: contain;
  }
}

/*# sourceMappingURL=estilos.css.map */
