@use "../varimix/variables" as vars;
@use "../varimix/mixin" as *;


.imagenes-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 30px;

  div {
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
    max-height: 350px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid vars.$color-secundario;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.03);
      box-shadow: 0 0 10px vars.$color-secundario;
    }
  }
}

.tren-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 30px;

  div {
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
    max-height: 350px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid vars.$color-primario;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.03);
      box-shadow: 0 0 10px vars.$color-primario;
    }
  }
}

#carouselExample {
  margin-top: 30px;

  .carousel-inner {
    width: 100%;
    overflow: hidden;
  }

  .carousel-item {
    transition: transform 0.6s ease;
    text-align: center;

    img {
      width: 100%;
      max-height: 550px;
      height: auto;
      object-fit: contain;
      display: block;
      margin: 0 auto;
    }
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
}

@include media-mobile {
  .imagenes-grid {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}

#carouselExample {
    .carousel-item img {
      height: 250px;
    }
  }
