// === _header.scss ===
@use "../varimix/variables" as vars;
@use "../varimix/mixin" as *;
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: vars.$color-bg;

  img {
    order: 2;
    width: 200px;
    border-radius: vars.$border-radius;
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 12px 30px;
    background-color: vars.$color-primario;
    border-radius: vars.$border-radius;
    box-shadow: vars.$box-shadow-light;
    font-family: vars.$font-nav;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    font-weight: 800;
  }
}
