// === _mixin.scss ===

// Centrado con Flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Media query para 768px
@mixin media-tablet {
  @media (max-width: 768px) {
    @content;
  }
}

// Media query para 480px
@mixin media-mobile {
  @media (max-width: 480px) {
    @content;
  }
}

// Media query para 468px
@mixin media-small {
  @media (max-width: 468px) {
    @content;
  }
}

// Para el rango donde se vuelve a romper mi texto
@mixin media-rango-intermedio {
  @media (min-width: 768px) and (max-width: 904px) {
    @content;
  }
}