@use "./variables" as vars;
@use "./mixin" as*;

 .info {
      // BANNER PRINCIPAL
      .banner {
        background-image: url('../images/banner.jpg');
        height: 200px;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        text-shadow: -1px 3px 11px rgba(0, 0, 0, 0.78);
        color: antiquewhite;
        text-align: center;
        opacity: 0;
        animation: fadeInBanner 2s forwards;
      }
    }

    .banner { background-image: url('../images/banner.jpg');
        height: 200px;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        text-shadow: -1px 3px 11px rgba(0, 0, 0, 0.78);
        color: antiquewhite;
        text-align: center;
        opacity: 0;
        animation: fadeInBanner 2s forwards;

    }