@use "./variables" as vars;
@use "./mixin" as*;

 .centrar-formulario {
    @include flex-center;
    height: 70vh;
    padding: 2rem;
    box-sizing: border-box;
    form {
      background: vars.$color-bg;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
      width: 100%;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border: 1px solid vars.$color-nav-bg;


  
    }
  }