@use "./variables" as*;

.introduccion {
    text-align: center;
    text-decoration: double;
}

.centrar-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Ajustable según diseño */
    padding: 2rem;
    box-sizing: border-box;
  }

  form {
    background: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #e37171;
  }
