//  _mixins.scss

@use './variables' as vars;

// Mixin para transiciones suaves
@mixin transition($props...) {
  transition: $props 0.3s ease;
}

// Mixin para centrar con Flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Placeholder para estilos comunes en tarjetas (.card)
%card-base {
  background-color: vars.$color-bg;
  border-radius: vars.$border-radius;
  overflow: hidden;
  box-shadow: vars.$box-shadow-card;
  @include transition(transform);
}
