@use "./variables" as vars;
@use "./mixin" as*;

  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 10px;

    .card {
      @extend %card-base;      // Usamos el placeholder definido en _mixins.scss
      width: 100%;

      &:hover {
        transform: translateY(-5px);
      }

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }