//  _reset.scss
@use './variables' as vars;

// Reset Box‐Sizing
* {
  box-sizing: border-box;
}

body {
  font-family: vars.$font-primary;
  margin: 0;
  padding: 0;
  background-color: vars.$color-bg;
  color: vars.$color-text;
  overflow-x: hidden; // Asegurarnos que no haya scroll horizontal en body
}

// Estilo base para párrafos y encabezados
p {
  font-weight: 100;
  line-height: 1.5;
  font-style: normal;
}

h1, h2, h3 {
  font-family: vars.$font-secondary;
}

h2 {
  text-decoration: underline;
}

// Todas las imágenes por defecto
img {
  order: 2;              // para el logo que estaba en header
  width: 200px;
  border-radius: 20px;
  display: block;        // para evitar gap inesperado
  max-width: 100%;
}
