@use "../varimix/variables" as vars;
@use "../varimix/mixin" as *;

// === FOOTER ===

.footer-columnas {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  padding: 6px;
  background-color: #101010;
  color: vars.$color-primario;
  flex-wrap: wrap;

  ul {
    list-style: none;
    padding-left: 0;
  }
}

.columna {
  flex: 1;
  min-width: 100px;
  margin: 10px;
  color: vars.$color-primario;

  a {
    color: vars.$color-primario;
    text-decoration: none;
  }
}

.footer-columnas .copyright {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}