@use "../varimix/variables" as vars;
@use "../varimix/mixin" as *;
@use "../varimix/extend" as *;
// === FOOTER ===


.footer-columnas {
  @extend %footer-base;
}

.footer-columnas ul {
  list-style: none;
  padding-left: 0;
}

.columna {
  flex: 1;
  min-width: 100px;
  margin: 10px;
  color: #e37171;
}

.columna a {
  color: #e37171;
  text-decoration: none;
}

.footer-columnas .copyright {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}